@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1xlFQ.woff') format('woff');
  font-weight: 400; /* You can adjust the weight based on your requirement */
  font-style: normal;
}

/* Additional font weights and styles */
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrLFj_V1xlFQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrLDz8Z1xlFQ.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1xlFQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bestigia';
  src: url('/public/src/fonts/Bestigia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Satisfy Font - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.colorText {
  /* font-family: 'Bestigia' !important; */
  font-family: 'Satisfy' !important;
}
.full {
  width: 100% !important;
  height: auto !important;
}
.semiFull {
  width: 75% !important;
  height: auto !important;
}
.half {
  width: 50% !important;
  height: auto !important;
}
.processBorderF {
  border: 4px solid transparent;
  position: relative;
  
}
.processBorderF::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0% 0% 110px 110px ;
  padding: 4px;
  background:linear-gradient(30deg, #5D34FF 70%, transparent 30%); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.processBorderR {
  border: 4px solid transparent;
  position: relative;
  
}
.processBorderR::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 110px 110px 0% 0% ;
  padding: 4px;
  background:linear-gradient(-210deg,#5D34FF 70%, transparent 30%); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.workHeight {
  min-height: 700px;
}
.divide {
  display: block;
  width: 82px;
  height: 20px;
  border-radius: 1000px;
  background: linear-gradient(91deg, #3E0096 -24.96%, #A088FF 120.53%);
}
.subsInput {
  position: relative;
  width: 75%;
  height: 50px;
  border-radius: 58.286px;
  border: 0.971px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
  padding-left: 30px;
  color: white;
}
.subsInput::placeholder {
  color: var(--Grey-60, #999);
  font-size: 17.486px;
  font-weight: 300;
  line-height: 23.314px; /* 133.333% */
  letter-spacing: -0.105px;
}
input:focus, textarea:focus {
  outline: none;
}
.inputPlace {
  position: absolute;
  top: 12px;
  left: 5px;
}
.subsBtn {
  position: absolute;
  top: 10px;
  right: 28%;
}

@media (max-width: 580px) {
  .subsInput {
    width: 100%;
  }
  .subsBtn {
    right: 5%;
  }
}